<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <div class="container">
      <img class="ax-center my-10 w-24" src="https://assets.bootstrapemail.com/logos/light/square.png" />
      <h1 class="text-center">Top job picks for you!</h1>
      <p class="text-center">Thanks for joining and have a great day &#128640;</p>
      <br>

      <div id="jobs">
        <% @jobs.each do |job| %>
          <div class="card p-6 p-lg-10 space-y-4">
            <h1 class="h3 fw-700"> <%= job.title %> </h1>
            <h1 class="h4 fw-500"> <%= job.company %> </h1>
            <a class="btn btn-primary p-3 fw-700" href=<%=job_url(job)%>>View Job</a>
          </div><br>
        <% end %>
      </div>

      <img class="ax-center mt-10 w-40" src="https://assets.bootstrapemail.com/logos/light/text.png" />
      <div class="text-muted text-center my-6">
          Sent with <3 from Bitcoin Jobs. <br>
          Bitcoin Jobs. 1 Hip Street<br>
          Gnarly State, 01234 USA <br>
      </div>
    </div>
  </body>

</html>