<p></p>
<div class="d-flex" style="margin: 0 0 0 2%;">
  <%= link_to "Show this job", @job, class: "btn btn-dark btn-sm me-1"%>
  <%= back_to_jobs_button("small") %>
</div>

<%= render "form", job: @job, edit: true %>

</div>
