/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #E5E5E5 !important;
}


/************************************** Navbar  ***********************************/
.navbar{
    background-color: #0A1C2E;
}

.navbar-brand{
    color: white !important;
}

.icons-container{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}


/************************************** Jobs Index  ***********************************/

.navbar-search{
    background: #0A1C2E;
    height: 61px;
    top: 90px;
}


.navbar-filtros{
    background: #0A1C2E;
    height: 80px;
    top: 90px;
}

.dropdown-toggle{
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #0A1C2E;
}


/*********************** Cards  *******************/

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(0.99);
}

.card-link{
    text-decoration: none;
    margin-bottom: 5px;

}

.company-logo{
    width: 10px;
    height: 10px;
    top: 50%;
}
