/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #E5E5E5 !important;
    padding-bottom: 50px;
}


/************************************** Main Navbar  ***********************************/
.navbar{
    background-color: #0A1C2E;
    height: 4em;
}

.container-fluid.main-navbar{
    margin-bottom: 50%;
    margin-left: 2%;
}

.navbar-brand{
    color: #E5E5E5 !important;
}

#crypto-jobs {
    font-family: 'Karantina';
    font-size: 30px;
    font-weight: bold;
}

#crypto-jobs::first-letter {
    font-size: 120%;
}

.icons-container{
    justify-content: flex-end;
}

/************************************** Jobs Index  ***********************************/

.navbar-search{
    background: #0A1C2E;
    height: 61px;
    top: 90px;
}

.form-control.search{
    margin-left: 2%;
    margin-right: 4%;
    height: 3em;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3917/3917754.png');
    background-position: right center;
    background-size: 20px 22px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}

.sort-by{
    margin-left: 2%;
}

.navbar-filtros{
    border-radius: 0px 0px 15px 15px;
    background: #0A1C2E;
    height: 65px;
    margin-bottom: 5px;
}

.dropdown-toggle{
    background: #FFFFFF;
    border-radius: 10px;
    height: 2em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #0A1C2E;
}


/*********************** Cards  *******************/

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(0.96);
}

.card-link{
    text-decoration: none;
    margin-bottom: 5px;

}

.company-logo{
    width: 10px;
    height: 10px;
    top: 50%;
}

.card-body{
     border-radius: 0px;
}



/******************************Jobs Show**************************************/


.white {
    background-color: #FFFFFF;
}

.apply-buttom{
    width: 250px ;
    box-sizing: border-box !important;
    background-color: #0A1C2E !important;
    font-family: 'Inter' !important;
    font-size: 24px !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    border: #0A1C2E !important;
}


/*************************Form**********************************/

.field-big {
  height: 350px; /* Altura mínima del campo de texto */
  width: 100%;
}

.tittle-position{
    width: 100%;
    margin-right: 1rem;
    text-align: left
}

.fuente-letras {
    font-family: 'IBM Plex Serif';
    font-size: 16px;
    font-weight: Regular;
}