/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/************************************** Application  ***********************************/
body {
  overflow-x: hidden;
  background-color: #FFFFFF;
  font-family: Inter, Helvetica, Arial  sans-serif !important;

  zoom: 1.1;
  -moz-transform: scale(1.1);
  -moz-transform-origin: 0 0;
}

/* Adjust navbar-brand in mobile screens*/
@media (max-width: 1000px) { #main-navbar {background-color: #222; max-height: 100%;}}
@media (min-width: 1000px) { #main-navbar {background-color: #222; max-height: 60px;}}

/******************************* Cards General ***************************/

.card-link{
    text-decoration: none;
    margin-bottom: 5px;
}

.company-logo{
    width: 10px;
    height: 10px;
    top: 50%;
}



/*************************************************** Index *******************************************/

.info-item-card {
  background-color: rgb(228, 228, 228);
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: x-small;
}

.btn.btn-orange  {
  background: #FF9900;
  border-color: #FF9900;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sidebar {
  background-color: #f7f7f8;
  border-radius: 10px;
  padding: 30px;
}

/*************************** Cards Job Preview *******************/

.card.card-index{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Adjust logo image in mobile screens*/
@media (max-width: 500px)  {.col-12.logo-fluid {width: 60%;}}
@media (min-width: 500px)  {.col-12.logo-fluid {width: 60%;}}
@media (min-width: 767px)  {.col-12.logo-fluid {width: 50%;}}
@media (min-width: 1100px) {.col-12.logo-fluid {width: 45%;}}
@media (min-width: 1800px) {.col-12.logo-fluid {width: 40%;}}


@media (max-width: 500px)  {.logo-fluid {width: 100%;}}
@media (min-width: 500px)  {.logo-fluid {width: 60%;}}
@media (min-width: 767px)  {.logo-fluid {width: 50%;}}
@media (min-width: 1100px) {.logo-fluid {width: 85%;}}
@media (min-width: 1800px) {.logo-fluid {width: 60%;}}

/* Reduce font size in mobile screens*/
@media (max-width: 767px) {
  .card-body.preview-card h5 {
    font-size: 1.1em;
  }
  .card-body.preview-card * {
    font-size: 0.85em;
  }
}

@media (min-width: 767px) {
  .card-body.preview-card h5 {
    font-size: 1.6em;
  }
}


/******************************* Cards Job Show ***************************/

.card.show{
  padding-top: 0px;
  transform: scale(0.96) translateY(-2%);
}

/* Reduce font size in mobile screens*/
@media (max-width: 767px) {
  .show-description h2 {font-size: 1.25em;}
  .show-description h5 {font-size: 1em;}
  .show-description * {font-size: 0.85em;}
}
/******************************Jobs Show**************************************/

.title {
  color: black;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-family: "Inter",sans-serif;
}

.sub-title {
  color: black;
  line-height: 1.1em;
  font-weight: bold;
}

.info-container {
  display: flex;
}

.info-item-show {
  background-color: #ededee;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: small;
}

.white {
    background-color: #FFFFFF;
}

.apply-buttom{
    width: 250px ;
    box-sizing: border-box !important;
    background-color: #0A1C2E !important;
    font-family: 'Inter' !important;
    font-size: 24px !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    border: #0A1C2E !important;
}


/*************************Form**********************************/

.card.card-form{
  border-radius: 10px;
}
/* Adjust fo in mobile screens*/
@media (min-width: 500px)  {.form-widht {margin-left:3%; margin-right:3%;}}
@media (min-width: 767px)  {.form-widht {margin-left:5%; margin-right:5%;}}
@media (min-width: 1100px) {.form-widht {margin-left:6.5%; margin-right:6.5%;}}
@media (min-width: 1800px) {.form-widht {margin-left:8%; margin-right:8%;}}

.form-control::placeholder {
  font-size: 12px;
}

.field-big {
  height: 350px;  /* Altura mínima del campo de texto */
}

.field-medium {
  height: 150px; /* Altura mínima del campo de texto */
}

.tittle-position{
    width: 100%;
    margin-right: 1rem;
    text-align: left
}

.fuente-letras {
    font-size: 12px !important;
    font-weight: 600;
}

.input-form {
  margin-top: 4%;
}

.card-title{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.field_with_errors {
  color: red;
}

.form-title{
  font-weight: 900;
}

.help-text {
  font-size: 0.8em;
}

/*************************Company Logo Upload**********************************/

#file-input {
  position: absolute;
  left: -9999px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.image-upload {
  position: relative;
  display: inline-block;
}


#file-label {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

#circle {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#preview-image,
#camera-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#preview-image {
  z-index: 1;
}

#camera-icon {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

#file-label:hover #camera-icon {
  opacity: 1;
}

/***********************  Alerts **************************/

.tags-input-wrapper{
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  max-width: 100%;
  border: 1px solid #ccc
}
.tags-input-wrapper input{
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px;
  font-size: 12px !important;
  font-weight: 600;
}
.tags-input-wrapper .tag{
  display: inline-block;
  background-color: #FF9900;
  color: white;
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  margin-right: 5px;
  margin-bottom:5px;
  font-size: 12px !important;
  font-weight: 600;
}
.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer;
}

/*********************************  Sign In / Sign Up*********************************/

.new_candidate{
  position: relative;
  z-index: 0;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.new_candidate input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  height: 20px;
  box-sizing: border-box;
  font-size: 12px;
}

.new_candidate label {
  font-size: 12px;
}
.new_candidate em{
  font-size: 12px;
}

.new_candidate .btn.btn-warning{
  font-size: 14px;
  height: auto;
}


.shared-links{
  font-size: 14px;
}
