<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <div class="container">
      <img class="ax-center my-10 w-24" src="https://assets.bootstrapemail.com/logos/light/square.png" />

    <div class="card p-6 p-lg-10 space-y-4">
		<p>Hello <%= @resource.email %>!</p>
		<p>Someone has requested a link to change your password. You can do this through the link below.</p>
        <a class="btn btn-primary p-3 fw-700" href=<%= edit_password_url(@resource, reset_password_token: @token) %>>Change my password</a>


		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>
    </div><br>

      <img class="ax-center mt-10 w-40" src="https://assets.bootstrapemail.com/logos/light/text.png" />
      <div class="text-muted text-center my-6">
          Sent with <3 from Bitcoin Jobs. <br>
          Bitcoin Jobs. 1 Hip Street<br>
          Gnarly State, 01234 USA <br>
      </div>
    </div>
  </body>
</html>